
.fg_logo h1 {
  @include brand;
}

.home {
  height: 100vh;
  background-color: black;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  position: relative;
}

#homepage .container {
  position: absolute;
  width: auto;
  top: 140px;
  left: 60px;
}

.flexbox {
    padding: 0px 0px 0px 20px;
   p {
      color: #ffff;
      font-size: 20px;
    }
  }

















