
body {
  background-color: #000000;
}

.fg_logo h1 {
  font-family: 'Chakra Petch', sans-serif;
  color: #F3CC09
}

.text p {
  color: #ffff
}

.home {
  background-image: url("homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;

}

.home {
  h1 {
    color: #FFF;

    padding: 90px 0px 0px 20px;
  }

}

.flexbox {
    color: #FFF;
    font-size: 18px;
    padding: 0px 0px 0px 20px;
    width: 250px;
  }


.search-btn {
  color: #999999;
  font-weight: lighter;
  opacity: 0.6;
  max-width: 195px;

}

.search-btn:hover {
  opacity: 1;
  text-decoration: none;

}

.search-home {
  padding-left: 20px;
}

.search-btn a {
  border: 1px solid #999999;
  padding: 16px 24px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}














