
body {
  // background-color: #000000;
}

.fg_logo h1 {
  font-family: 'Chakra Petch', sans-serif;
  color: #F3CC09
}

.text p {
  color: #ffff
}

.home {
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  position: relative;
}

#homepage .container {
  position: absolute;
  width: auto;
  top: 140px;
  left: 60px;
  h1 {
    font-family: 'Russo One', sans-serif;
    color: #F7CD07;
    letter-spacing: 2px;
    padding: 0px 0px 0px 20px;
  }

}

.flexbox {
    color: #FFF;
    font-size: 18px;
    padding: 0px 0px 0px 20px;
    width: 250px;
  }


.search-btn {
  opacity: 1;
  margin-left: 20px;
  border: 1.6px solid #F7CD07;
  padding: 16px 24px;
  border-radius: 50px;
  text-decoration: none;
  color: #F7CD07;
  font-weight: bold;

}

.search-btn:hover {
  text-decoration: none;
  box-shadow: 2px 2px 16px #F7CD07;
  color: #F7CD07;

}














