// Import page-specific CSS files here.
@import "home";
@import "show";



h1 {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 16px;
  color: #F3CC09;
}

.index-body {
  display: flex;
  justify-content: space-between;
}

.cards {
  margin-bottom: 0;
}

.card-text {
  padding: 8px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 56px;
  margin-left: 16px;
  margin-bottom: 16px;
  left: 20px;
}

.card {
  right: 30px;
}
