//.header h3 {
//  color: #ffff
//}

#show_page {
  margin: 2rem 3rem;
}

.header h3 {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 16px;
  color: #F3CC09;
}

.location p {
  color: #ffff;
}

.show_card_text {
  color: #ffff;
  margin: 0;
}

.show_info {
  margin-left: 0px;
  margin-top: 1rem;
}

.showpage-btn-container {
  display: flex;
  margin-top: 2rem;
}

.photo_and_bookings {

}
