<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-lg-6 ">
      <h1>New Booking</h1>

      <%= render 'form', booking: @booking %>

      <%= link_to starship_path(@starship) do %>
        <i class="fas fa-undo-alt"></i> Back
      <% end %>
    </div>
  </div>
</div>
