@impor@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Russo One', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Chakra Petch', sans-serif;

@mixin brand {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 64px;
  color: $brand-color;
  letter-spacing: 1.4;
  line-height: 1.6;
}

@mixin nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $black-color;
}

@mixin footer-text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: $black-color;
  line-height: 1.4;
}

@mixin page-header {
  color: $black-color;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  letter-spacing: 1.6;
  margin: 16px 0px;
  
}

@mixin card-title {
  color: $black-color;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  letter-spacing: 1.1;
  margin: 8px 0px;
}

@mixin text {
  color: $black-color;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 8px 0px;
}