<div class="footer">
  <br>	  <div class="empthy-div"></div>
  <h2>Made with <i class="fas fa-heart"></i> by the Rebel Alliance</h2>	

  <div class="footer-icons">
    <div class="icons">	      
      <h5>Made with <i class="fas fa-heart"></i> by the Rebel Alliance</h5>
         <div class="sm-links">
     	        <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>


  <br>	  <div class="footer-links">
    <%= link_to "About Us", "#", class: "footer-link" %>
    <%= link_to "Contact", "#", class: "footer-link" %>
    <%= link_to "Career", "#", class: "footer-link" %>
  </div>
</div>	</div>




