<div class="footer">
  <br>
  <h2>Made with <i class="fas fa-heart"></i> by the Rebel Alliance</h2>

  <div class="icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
  </div>

  <br>
</div>



