<body>


<div class="container">

  <div class="fg_logo">
    <h1>FORCE GEAR
    </h1>
  </div>
  <!--<div class="testing">
    <h2>TESTING
    </h2>
  </div>-->
  <div class="text">
    <p>Rent out Chewbacca's old cruiser and many more!
    </p>
  </div>
</div>


</body>
