<div class="home">

<div class="container">
  <div class="fg_logo">
    <h1>FORCE GEAR
    </h1>
  </div>

  <div class="flexbox">
    <p>Rent out Chewbacca's old cruiser and many more!</p>
  </div>
  <br>
  <br>
  <%= link_to "Find Your StarShip", starships_path, class: "search-btn"%>
</div>

