
.page-header {
@include page-header;
}
.card-title {
  @include card-title;
}
.my-account-container {
  color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.my-profile {
  margin-top: 32px;
  grid-column: 1/2;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-fleet {
  display:block;
  width: 100%;
  margin: 0 auto;
  align-self: stretch;
}
// card starship
.starship-card {
  width: 100%;
  margin: 0 auto;
  background: white;
  color: rgb(28,28,30);
  border-radius: 6px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}






