.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.card-image {
  width: 300px;
}

.card-body {
  height: 211px;
  h5 {
    margin-bottom: 4px;
  }
  p {
    margin: 0;
  }
  .card-price {
    font-weight: bolder;
    margin-right: 16px;
  }
}

.card-link a {
  text-decoration: none;
  color: #F3CC09;
  padding-left: 8px;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

.card-text {
  padding: 8px;
}

.link-and-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
