.footer {
  background-color: #C3C3C3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 16px;
}
.footer-icons {

  @include flex-col-center;
  color: black;
  grid-column: 2/3;
  justify-items: center;
  align-self: center;

  h5 {
   @include footer-text;
  }
  i{
    color: $black-color;
    margin-left: 3px;
    padding: 3px;
  }
}

.footer-links {
@include flex-row-center;

  grid-column: 3/4;
  justify-items: center;
  align-self: center;

  a {
    @include footer-text;
    text-decoration: none;
    margin-left:12px;
  }
}