.footer {
  background-color: #C3C3C3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 16px;
}
.footer-icons {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  
  grid-column: 2/3;
  justify-items: center;
  align-self: center;

  h5 {
   @include footer-text;
  }
  i{
    color: $black-color;
    margin-left: 3px;
    padding: 3px;
  }
}


.footer-links {

  display: flex; 
  justify-content: flex-end;
  align-items: center;

  grid-column: 3/4;
  justify-items: center;
  align-self: center;

  a {
    @include footer-text;
    text-decoration: none;
    margin-left:12px;
  }
}