.footer {
  text-align: center;
  font-size: 14px;
  background-color: #C3C3C3;
  color: black;
  color: black;
  h2 {
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr 2fr 1fr;
    color: black;
    padding: 16px;
  }
}
.footer-icons {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;

  grid-column: 2/3;
  justify-items: center;
  align-self: center;

  h5 {
    @include footer-text;
    color: $black-color;
  }
  i{
    color: $black-color;
    margin-left: 3px;
    padding: 3px;
  }
}


.footer-links {

  display: flex;
  justify-content: flex-end;
  align-self: center;

  grid-column: 3/4;
  justify-items: center;
  align-items: center;

  a {
    @include footer-text;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-right: 8px;


  }
}
