.body-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    padding: 32px;
  }
}

.login-and-signup-container {
  color: white;
  margin-top: 6rem;
}


.fg-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    padding: 32px;
  }
}


.fg-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.fg-form {
  width: 45vw;
  background: none;
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  clear: both;
  opacity:0.9;
  filter: alpha(opacity = 40);
  padding: 32px 8px;
}
.fg-form div {
  width: 80%;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

label {
  width: 80%;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.4px;
  margin-bottom: 0;
}

.fg-form input{
  border: none;
  color: black;
  border-bottom:1px solid black;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
}

.fg-form input[type=submit] {
  margin-top: 16px;
}


.fg-form input:focus{
  color: black;
  background: white;
  outline: none;
  box-shadow: 1px 1px 6px rgba(243, 203, 8, 0.6);
  border: none;
}
.fg-form input[type=file] {
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
}
.fg-form input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
}
