.navbar-lewagon {
	justify-content: space-between;
	background: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#navbarSupportedContent {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 40px;
}

.nav-link-right {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.55);
	&:hover {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.7);
	}
}


