<div class="container">
  <h1>Available Starships</h1>
  <div class="container index-body">
    <div class="cards">
      <% @starships.each do |starship| %>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/en/8/8d/A_screenshot_from_Star_Wars_Episode_IV_A_New_Hope_depicting_the_Millennium_Falcon.jpg" alt="starship-image">
            <div class="card-text">
              <%# <%= link_to starship.name, starship%>
              <p><%= starship.name %></p>
              <p><%= starship.model %></p>
            </div>
        </div>
      <% end %>
    </div>

    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiY2ljYWRhLTEiLCJhIjoiY2trc2NyeHFxMDhscjJxbXN1cmw2cXU5NyJ9.8ZeU8uCA6umwM8gzgkU4yw'>
  </div>
</div>



